<ion-header>
  <ion-segment [(ngModel)]="page" color="secondary">

    <button ion-button>
      <ion-icon name="camera" (click)="openNavAddFeed()"></ion-icon>
    </button>

    <ion-segment-button value="0" (click)="selectedTab(0)">
      Feed
    </ion-segment-button>
    <ion-segment-button value="1" (click)="selectedTab(1)">
      Avisos
    </ion-segment-button>
    <ion-segment-button value="2" (click)="selectedTab(2)">
      Parcerias
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content padding>
  <ion-slides #slider (ionSlideWillChange)="moveButton($event)">
    <ion-slide>
      <!-- Feed      -->
      <ion-list >
        <ion-item *ngFor="let feed of feeds">
          <ion-card (click)="openNavDetailsPage()">

            <img src="" />
            <ion-card-content>
              <ion-card-title>
                {{ feed.titulo }}
              </ion-card-title>
              <p>
                {{ feed.legenda }}
              </p>
            </ion-card-content>

          </ion-card>
        </ion-item>

      </ion-list>
    </ion-slide>

    <!-- avisos -->
    <ion-slide>
      <!--list of trips-->
      <!-- *ngFor="let trip of trips" -->
      <ion-list>
        <ion-item>
          <ion-card>
            <img src="C:/Users/roses/Desktop/teste.jpg" />
            <ion-card-title>Madison, WI</ion-card-title>
            <ion-card-content>
              Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
              Wisconsin
              Territory in 1836.
            </ion-card-content>
          </ion-card>
        </ion-item>
        <ion-item>
          <ion-card>
            <img src="C:/Users/roses/Desktop/teste.jpg" />
            <ion-card-title>Madison, WI</ion-card-title>
            <ion-card-content>
              Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
              Wisconsin
              Territory in 1836.
            </ion-card-content>
          </ion-card>
        </ion-item>

      </ion-list>
    </ion-slide>

  <!-- parcerias -->
  <ion-slide>

    <ion-list no-lines>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
        <p>Hayao Miyazaki • 1988</p>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
        <p>Hayao Miyazaki • 1988</p>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
        <p>Hayao Miyazaki • 1988</p>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
        <p>Hayao Miyazaki • 1988</p>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
        <p>Hayao Miyazaki • 1988</p>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
        <p>Hayao Miyazaki • 1988</p>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
        <p>Hayao Miyazaki • 1988</p>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
        <p>Hayao Miyazaki • 1988</p>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
        <p>Hayao Miyazaki • 1988</p>
      </ion-item>
    </ion-list>
  </ion-slide>


  </ion-slides>
</ion-content>
