 <ion-header>
  <ion-toolbar>
    <ion-title>
      Feed App
    </ion-title>
    </ion-toolbar>
    <ion-segment [(ngModel)]="page" color="secondary">
      <ion-segment-button value="0"  (click)="selecteTab(0)">
        Feed        
      </ion-segment-button>
      <ion-segment-button value="1" (click)="selecteTab(1)">        
        Avisos
      </ion-segment-button>
        <ion-segment-button value="2" (click)="selecteTab(2)">          
          Parcerias
        </ion-segment-button>
    </ion-segment>

</ion-header>


<ion-content>
  <ion-slides #slider (ionSlideWillChange)="moveButton(event)">
    <ion-slide>
      <h1>Page 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Page 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Page 3</h1>
    </ion-slide>

  </ion-slides>
</ion-content>